/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 740px;
  margin-bottom: 0px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  bottom: 100px;
}


/* Declare heights because of positioning of img element */
.carousel .item {
  height: 740px;
  background-color: #777;
}

.img1 {
    height:740px;
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    background-image: url(../img/header.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.img2 {
    height:740px;
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    background-image: url(../img/header2.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.img3 {
    height:740px;
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    background-image: url(../img/header3.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 800px;
  /*height: 1000px;*/
}


/* RESPONSIVE CSS
-------------------------------------------------- */
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
}